<template>
  <div class="index-article">
    <h3>Article</h3>

        <div class="content" >
            <div v-for="(data, i) in data" :key="i" class="in-content" >
             <Article :data="data" /> 
            </div>
            
        </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: [],
    };
  },
  methods: {
    getData() {
      fetch("https://uniq-test-app.herokuapp.com/article")
        .then((response) => response.json())
        .then((data) => {
          this.data = data.slice(0, 3);
        });
    },
  },
  mounted() {
    this.getData();
  },
};
</script>


<style>

.index-article h3 {
  @apply text-center font-semibold py-12 text-5xl;
}
.index-article .content {
  @apply grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 xl:w-9/12 lg:w-10/12 md:w-11/12 sm:w-11/12 mx-auto gap-12 mb-12 ;
}
</style>