<template>
<div @click="Logout()" class="fl">
  <div class="in-fl">
  
  </div>
</div>


</template>

<script>
export default {
  methods:{
    Logout(){
       fetch("https://uniq-test-app.herokuapp.com/logout", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        credentials: "include",
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data)
        })
    }
  }
}

</script>

<style>

.fl{
  @apply md:px-0 lg:px-8 py-8;
}
.in-fl {
  @apply flex justify-center items-center w-full ;
  min-height: 60vh;
  background: url('~assets/fl.png');
  background-position: 50% 0;
}



.fl img{
  @apply object-cover w-1/2;
}

</style>