<template>
  <div v-if="modal" class="modals">
    <div style="width: 30rem" class="in-modals">
      <h3>{{login?'Login':'Register'}}</h3>
      <p @click="changePage()" class="description">
        {{login ? 'Don’t have an account?' : 'Have an account?'}} <span>{{login?'Create Account':'Login'}}</span>
      </p>
     
      <div v-if="!login" class="section-input w-full">
        <p>Fullname</p>
        <input v-model="fullname" type="text" />
         <p class="error-msg">{{errormsg.fullname}}</p>
      </div>
      <div class="section-input w-full">
        <p>Email</p>
        <input v-model="email" type="email" />
         <p class="error-msg">{{errormsg.email}}</p>
      </div>
      <div class="section-input w-full">
        <p>Password</p>
        <input v-model="password" type="password" />
         <p class="error-msg">{{errormsg.password}}</p>
      </div>
      <button @click="login?Login():Register()" class="btn-publish">{{login?'Login':'Create Account'}}</button>
    </div>
    <div
      @click="modal = false"
      class="fixed inset-0 bg-black bg-opacity-75 transition-opacity z-10"
      aria-hidden="true"
    ></div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      modal: false,
      email: "",
      password: "",
      fullname:"",
      errormsg:{
        fullname:'',
        email:'',
        password:'',
      },
      login:true,
    };
  },

  methods: {
    Open() {
      this.modal = true;
    },
    changePage(){
      this.login?this.login = false : this.login = true
      this.cleanData()
      this.cleanError()
    },
    cleanData(){
      this.email = '',
      this.password = '',
      this.fullname = ''
    },
    cleanError(){
      this.errormsg.email = ''
      this.errormsg.password = ''
      this.errormsg.fullname = ''
    },
    Login() {
      let data = {
        email: this.email,
        password: this.password,
      };
      fetch("https://uniq-test-app.herokuapp.com/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        credentials: "include",
        body: JSON.stringify(data),
      })
        .then((response) => response.json())
        .then((data) => {
          if(!data.status){
            if(data.message == 'Password invalid'){
              this.password = ''
              this.cleanError()
              this.errormsg.password = data.message 
            }else{
              this.cleanData()
              this.cleanError()
              this.errormsg.email = data.message 
            }
            
          }else{
            this.modal = false
            this.cleanData()
            this.cleanError()
            this.$router.push({ name: "create"});
            this.$store.commit("ChangeAuth",true)
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    },
    Register() {
      let data = {
        email: this.email,
        password: this.password,
        fullname: this.fullname,
      };
      fetch("https://uniq-test-app.herokuapp.com/register", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        credentials: "include",
        body: JSON.stringify(data),
      })
        .then((response) => response.json())
        .then((data) => {
          this.changePage()
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    },
  },
};
</script>

<style>
.modals {
  @apply absolute flex justify-center items-center top-0 overflow-y-auto w-full h-screen z-40;
}
.in-modals {
  @apply bg-white p-12 w-full rounded-md z-40;
}

.in-modals h3 {
   @apply font-semibold text-xl;
}
.error-msg{
  @apply text-red-500 text-xs ;
}

.description {
  @apply  mb-10;
}

.description span {
  @apply text-red-500 cursor-pointer;
}
</style>