<template>  
    <div class="article cursor-pointer" @click="goDetail(data._id)">
        <img v-if="!data.thumb" src="~/assets/dumy.png"/>
        <img v-else :src="'https://uniq-test-app.herokuapp.com/'+data.thumb" alt="Error"/>
        <p class="title">{{data.title ? data.title:'-'}}</p>
        <p class="desc">{{data.shortDesc ? data.shortDesc:'-'}}</p>
    </div>
</template>

<script>
export default {
    props: {
        data: Object,
    },
    methods:{
        goDetail(a){
            this.$router.push({
                name: 'Article-id', 
                params: { id: a }
            });
        }
    }
}
</script>

<style>
.in-content .article {
    @apply w-full;
}
.article img{
    @apply w-full h-72;
}
.article .title {
    @apply text-2xl text-left my-4 font-semibold;
}

.article .desc {
    @apply text-xl font-normal text-left ;
}

@media only screen and (max-width: 600px) {
.content .article {
    @apply mb-12 p-5;
}
}

</style>