<template>
  <div class="detail-article">
    <h1>{{data.title?data.title:'-'}}</h1>
    <h3> {{data.shortDesc?data.shortDesc:'-'}}</h3>
    <img v-if="!data.thumb" src="~/assets/dumy.png"/>
    <img v-else :src="'https://uniq-test-app.herokuapp.com/'+data.thumb" alt="Error"/>

    <p>{{data.value ? data.value : "-"}}</p>
  </div>
</template>

<script>
export default {
  data(){
    return{
      data : {}
    }
  },
  methods:{
      getData(a) {
      fetch(`https://uniq-test-app.herokuapp.com/article/${a}`)
        .then((response) => response.json())
        .then((data) => {
          this.data = data
          console.log(data)
        });
    },
  },
  mounted(){
    this.getData(this.$route.params.id)
  }
}
</script>

<style>

.detail-article{
  @apply mx-auto lg:w-1/2 md:w-9/12 sm:w-full px-4 text-justify my-12;
}
.detail-article h1 {
  @apply text-3xl font-semibold my-6;
}

.detail-article h3{
  @apply text-lg my-4;
}
.detail-article img{
  @apply mx-auto w-full mt-6 mb-12
}

</style>