<template >
  <div v-if="!loading" class="article-list">
    <div v-for="(data, i) in data" :key="i">
      <Article :data="data" />
    </div>
  </div>
  <div v-else class="loading">
    <img src="~/assets/logo.png" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: [],
      loading: true,
    };
  },

  methods: {
    getData() {
      this.loading = true;
      fetch("https://uniq-test-app.herokuapp.com/article")
        .then((response) => response.json())
        .then((data) => {
          this.data = data;
          this.loading = false;
        });
    },
  },
  mounted() {
    this.getData();
  },
 
};
</script>

<style>
.article-list {
  @apply grid lg:grid-cols-3 sm:grid-cols-1 md:grid-cols-2 gap-4 lg:w-3/4 sm:w-11/12 mx-auto py-12 px-4;
}
.loading {
  @apply flex justify-center items-center mt-32;
}
</style>