<template>
  <div v-if="this.$store.state.auth" class="create-article">
    <div class="section-0">
      <h1>Create a New Article</h1>
      <div class="section-input">
        <p>Title</p>
        <input v-model="title" type="text" />
      </div>
      <div class="section-input">
        <textarea v-model="value" class="value"></textarea>
      </div>
    </div>
    <div class="section-1">
      <h1>Publication Detail</h1>
      <div class="section-input">
        <p>Short Description</p>
        <textarea v-model="shortDesc" class="value"></textarea>
      </div>

      <div class="section-input">
        <p>Thumbnail</p>
        <input @change="previewThumb" ref="thumbnail" type="file" />
      </div>
      <div class="section-input">
        <p>Categories</p>
        <select v-model="categories">
          <option disabled selected value>Select Categories</option>
          <option value="Music">Music</option>
          <option value="Sports">Sports</option>
          <option value="Programming">Programming</option>
        </select>
      </div>
      <div class="flex justify-between mt-6 pr-4">
        <div>
          <p>Publihed</p>
        </div>

        <div class="mt-2">
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div>
        <button @click="Posting()" class="btn-publish">Publish</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: "",
      shortDesc: "",
      value: "",
      thumb: null,
      categories: "",
    };
  },
  mounted(){
      if (!this.$store.state.auth) {
      this.$router.push({
        name: "index",
      });
    }
  },
  methods: {
    previewThumb() {
      this.thumb = this.$refs.thumbnail.files[0];
    },
    Posting() {
      const formData = new FormData();
      if (this.thumb) formData.append("thumb", this.thumb);
      if (this.title) formData.append("title", this.title);
      if (this.value) formData.append("value", this.value);
      if (this.shortDesc) formData.append("shortDesc", this.shortDesc);
      if (this.categories) formData.append("categories", this.categories);
      fetch("https://uniq-test-app.herokuapp.com/article", {
        method: "POST", // or 'PUT'
        credentials: "include",
        body: formData,
      })
        .then((response) => {
          console.log(response)
          if (!response.ok) {
            console.log("fail");
          } else {
            return response.json();
          }
        })
        .then((data) => {
          if (data) {
            this.$router.push({
              name: "Article-id",
              params: { id: data._id },
            });
          } else {
            this.$store.commit("ChangeAuth",false)
            this.$router.push({
              name: "index",
            });
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    },
  },
};
</script>

<style>

</style>