
<template>
  <div class="flex flex-col h-screen justify-between overflow-hidden">
    <header>
      <div class="header">
        <div class="left-side">
          <div class="logo">
            <img src="~/assets/logo.png" />
            <p>Assessment</p>
          </div>
          <div :class="!menu ? 'link-to' : 'hidden'">
            <NuxtLink to="/">Home</NuxtLink>
            <NuxtLink to="/article">Article</NuxtLink>
            <NuxtLink v-if="this.$store.state.auth" to="/create"
              >Create</NuxtLink
            >
            <p v-else class="cursor-pointer" @click="Modal()">Create</p>
          </div>
        </div>
        <div :class="menu ? 'fixed right-4' : 'right-sides-1'" @click="Menu()">
          <img v-if="!menu" src="~/assets/menu.png" />
          <img style="h-24" v-else src="~/assets/cancle.png" />
        </div>
        <div :class="menu ? 'hidden' : 'right-side'">
          <div v-if="!this.$store.state.auth" class="login" @click="Modal()">
            Login
          </div>
          <div v-else class="login" @click="Logout()">Logout</div>
        </div>
      </div>
    </header>

    <div v-if="menu" class="relative h-screen w-full">
      <div class="menu-fullscreen">
        <NuxtLink @click.native="menu = false" to="/">Home</NuxtLink>
        <NuxtLink @click.native="menu = false" to="/article">Article</NuxtLink>
        <NuxtLink @click.native="menu = false" to="/create">Create</NuxtLink>
        <div v-if="!this.$store.state.auth" class="login" @click="Modal(),menu = false">
            Login
          </div>
          <div v-else class="login" @click="Logout(),menu = false">Logout</div>
      </div>
    </div>

    <main>
      <Nuxt />
    </main>

    <Modals ref="modal" />

    <footer v-if="!menu">Copyright © Sahaware Asessment 2021</footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: "heheh",
      menu: false,
    };
  },

  methods: {
    Modal() {
      this.$refs.modal.Open();
    },
    Logout() {
      fetch("https://uniq-test-app.herokuapp.com/logout", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        credentials: "include",
      }).then((response) => {
        this.$store.commit("ChangeAuth", false);
        if ((this.$route.name == "create")) {
          this.$router.push({
            name: "index",
          });
        }
      });
    },
    Click() {
      this.$store.commit("ChangeAuth", true);
    },
    Menu() {
      this.menu ? (this.menu = false) : (this.menu = true);
    },
  },

  created() {
    fetch("https://uniq-test-app.herokuapp.com/user", {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
      credentials: "include",
    }).then((response) => {
      console.log(response);
      if (!response.ok) {
        console.log("fail");
      } else {
        this.$store.commit("ChangeAuth", true);
      }
    });
  },
};
</script>



<style>
</style>


<style>
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.menu-fullscreen {
  @apply fixed inset-0 bg-white mt-28 flex flex-col text-center gap-12;
}
.menu-fullscreen a {
  @apply hover:text-red-500;
}

.menu-fullscreen .nuxt-link-exact-active {
  @apply text-red-500;
}

body {
  font-family: "Open Sans", serif;
}
.menu-visible img {
  width: 1px;
}
.link-to,
.right-side {
  @apply invisible lg:visible;
}

.right-sides-1 {
  @apply visible lg:invisible xl:invisible 2xl:invisible absolute right-4;
}

.right-sides-1 img {
  width: 24px;
}

.login {
  @apply text-blue-500 cursor-pointer;
}

.header {
  @apply flex bg-white justify-between text-gray-700 px-4 lg:px-14 py-6 border-b-2 border-gray-200 fixed w-full top-0 z-30;
}

footer {
  @apply bg-red-500 text-white px-14 py-6 text-lg;
}
.header .left-side .link-to {
  @apply flex gap-12;
}

.link-to .nuxt-link-exact-active {
  @apply text-red-500;
}
.header .left-side .link-to a {
  @apply hover:text-red-500;
}

main {
  @apply relative flex-1 mb-auto mt-20 overflow-auto;
}
.logo {
  @apply flex gap-2;
}

.logo p {
  @apply border-l border-gray-400 pl-2 font-semibold text-gray-400;
}

.left-side {
  @apply flex gap-12;
}
.left-side img {
  max-width: 150px;
  min-width: 150px;
  height: auto;
}
select {
  @apply bg-white shadow border-2 border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none;
}
.btn-publish {
  @apply bg-red-500 text-white px-4 py-2 rounded mt-8 w-full lg:w-auto;
}
.create-article h1 {
  @apply font-semibold mb-6;
}
.create-article {
  @apply flex flex-col lg:flex-row w-full  gap-8  lg:w-8/12 lg:mx-auto p-4;
}

.section-input {
  @apply flex flex-col text-gray-700 mt-4;
}

.section-input p {
  @apply mb-2;
}
.section-input input {
  @apply shadow appearance-none border-2 border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none;
}

.section-0 .section-input .value {
  resize: none;
  height: 50vh;
  padding-top: 2vh;
  @apply shadow appearance-none border-2 border-gray-300 rounded w-full py-1 lg:px-3 text-gray-700 leading-tight focus:outline-none mt-6;
}
.section-1 .section-input .value {
  resize: none;
  height: 20vh;
  padding-top: 2vh;
  @apply shadow appearance-none border-2 border-gray-300 rounded w-full py-1 lg:px-3 text-gray-700 leading-tight focus:outline-none;
}

.section-0 {
  @apply lg:w-3/5 sm:w-full md:mb-12 sm:mb-12;
}

.section-1 {
  @apply lg:w-2/5 sm:w-full;
}

.section-1 input[type="file"] {
  @apply p-0;
}
input[type="file"]::-webkit-file-upload-button {
  @apply bg-gray-100 border-none p-2 text-gray-500;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -4px;
  background-color: #2196f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #60b6fc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
